body {
  background-color: rgb(104, 177, 236);
}
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
}
p {
  font-size: 40px;
}
a {
font-size: 20px;
text-align: center;
}

.slike{
width: 50%;
display: block;
margin: 0 auto;

}
.centralno {
  text-align: center;
}